<html>
<head>
	<title>เน€เธงเนเธเธฃเธงเธกเน€เธเธฅเธเธเธฃเธฐเธฃเธฒเธเธเธดเธเธเธเน</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Kingsong</title>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">บทเพลงพระราชนิพนธ์</a>
    </div>
    <ul class="nav navbar-nav" align="right">
      <li><a href="home">home</a></li>
      <li><a href="kingsong1">kingsong1</a></li>
      <li><a href="kingsong2">kingsong2</a></li>
      <li><a href="kingsong3">kingsong3</a></li>
    </ul>
  </div>
</nav>
<center>
  <h1>เพลงชะตาชีวิต</h1>
   
</center> 
<div class="container">
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M6P5qD_9b9o"></iframe>

   
  </div>
  
  </div>
  <br>
  <br>
</html>